
<div  class="row d-flex justify-content-center mt-3">

  <div class="w-75">
    <div class="alert alert-secondary "  role="alert">
      BUSCADOR DE ARCHIVO
    </div>
    
    <div class="row no-pad" >
    
      
      <div class="col-2">
        <label>T DOC</label>
        <select class="form-select form-select-sm"  name="expCTdocumento" >
          <option >DNI</option>
          <option >RUC</option>
        </select>
      </div>
    
      <div class="col-2 ">
        <label>NUMERO DOC</label>
        <input type="text" class="form-control form-control-sm "  name="perDNrodoc" />
      </div>
    
      <div class="col-6 ">
        <label>RAZON SOCIAL</label>
        <input type="text" class="form-control form-control-sm "  name="perDNrodoc" />
      </div>
    
      <div class="col-2 pe-3  ">
        <label>DOCUMENTO</label>
        <input type="text" class="form-control form-control-sm "  name="perDNrodoc" />
      </div>
      
    
    </div>

    <div class="row"> 
      <div class="col d-flex justify-content-end pt-2">
        <button type="button" class="btn btn-primary btn-sm">BUSCAR</button>
      </div>
    </div>
    
  </div>
  
  
</div>
